.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card {
  background-color: #ffffff;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: flex-start;
  padding: 25px;
  max-width: 400px;
  margin: 20px;
}
.image {
  align-self: flex-end;
}
