* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
* {
  font-family: 'roboto';
}
.bg-container {
  background-color: #f4faff;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}
.heading {
  color: #171f46;
  font-size: 35px;
  font-weight: bold;
}
.paragraph {
  color: #64748b;
  font-size: 16px;
}
.cardStyle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
